<!DOCTYPE html>
<html>
    <head>
        <title>Test lora</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link href="libs/framework7/framework7.material.min.css" rel="stylesheet" type="text/css">
        <link href="libs/framework7/framework7.material.colors.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div id="content" style="height:100%;">

        </div>

        <!-- React JS -->
        <script type="text/javascript" src="libs/reactJS/react.min.js"></script>
        <script type="text/javascript" src="libs/reactJS/react-dom.min.js"></script>

        <!-- Require -->
        <script type="text/javascript" src="libs/require/require.js" data-main="js/app"></script>

    </body>
</html>
