<!DOCTYPE html>
<html>
    <head>
        <title>Test lora</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">    
		<link href="css/index.css" rel="stylesheet" type="text/css">
        <link href="libs/framework7/framework7.material.min.css" rel="stylesheet" type="text/css">
        <link href="libs/framework7/framework7.material.colors.min.css" rel="stylesheet" type="text/css">    
    </head>

    <body>
        <div id="content">
 
        </div>

        <!-- React JS -->
        <script type="text/javascript" src="libs/reactJS/react.min.js"></script>
        <script type="text/javascript" src="libs/reactJS/react-dom.min.js"></script>
		
		<script type="text/javascript" src="js/props.js" ></script>        
		
		<!-- Components -->
		<script type="text/javascript" src="js/components/deviceList.js" ></script>        
		<script type="text/javascript" src="js/components/header.js" ></script>        
		
		<!-- Views -->
		<script type="text/javascript" src="js/views/indexView.js" ></script>        
 
		<!-- App -->
		<script type="text/javascript" src="js/app.js" ></script>        
		
    </body>
</html>